.hero {
   background: var(--main-bg-color)
}

.hero__container {
   width: 100%;
   max-width: 708px;
   background: url("../../assets/XX99lg.png");
   background-repeat: no-repeat;
   background-position: 100% 84%;
   padding-top: 12.8rem;
   padding-bottom: 15.8rem;
}

.hero__info {
   width: 100%;
   max-width: 400px;
}

.hero__subtitle {
   color: var(--white-color);
   font-size: 1.4rem;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 10px;
   text-transform: uppercase;
   opacity: 0.4964;
   margin-bottom: 2.4rem;
}

.hero__title {
   color: var(--white-color);
   font-size: 5.6rem;
   font-weight: 700;
   line-height: 5.8rem;
   letter-spacing: 2px;
   text-transform: uppercase;
   margin-bottom: 2.4rem;
}

.hero__description {
   width: 100%;
   max-width: 350px;
   color: var(--white-color);
   opacity: 0.75;
   margin-bottom: 4rem;
}

.hero__btn {
   padding: 1.5rem 2.95rem 1.5rem 3.15rem;
   color: var(--white-color);
   letter-spacing: 1px;
   font-weight: 700;
   text-transform: uppercase;
   background: var(--main-color);
   transition: all 0.3s ease;
}

.hero__btn:hover {
   background: #FBAF85;
}

@media only screen and (max-width: 768px) {
   .hero__container {
      text-align: center;
      background: url("../../assets/XX99lg2.png");
      background-position: center 85%;
   }

   .hero__info {
      margin: 0 auto;
   }
}

@media only screen and (max-width: 486px) {
   .hero__subtitle {
      margin-bottom: 1.6rem;
   }

   .hero__title {
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 4rem;
      letter-spacing: 1.286px;
   }

   .hero__description {
      margin-bottom: 2.8rem;
   }


}

@media only screen and (max-width: 378px) {
   .hero__container {
      background: url('../../assets/XX99lg3.png');
      background-repeat: no-repeat;
      background-position: center;
   }
}