footer {
   background: #101010
}

.footer__container {
   position: relative;
   padding: 7.5rem 0 4.8rem 0;
}

.footer__container::before {
   content: "";
   display: inline-block;
   position: absolute;
   width: 101px;
   height: 4px;
   background: var(--main-color);
   top: 0;
   left: 4rem;
}

.footer__top {
   display: flex;
   justify-content: space-between;
   margin-bottom: 36px;
}

.footer__items {
   display: flex;
   justify-content: space-between;
   gap: 3.4rem;
}

.footer__link {
   text-transform: uppercase;
   color: var(--white-color);
   font-size: 13px;
   font-weight: 700;
   letter-spacing: 2px;
}

.footer__link:hover {
   color: var(--main-color)
}

.footer__link.active {
   color: var(--main-color)
}

.footer__middle {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   row-gap: 5.6rem;
   align-items: center;
}

.footer__description {
   color: var(--white-color);
   opacity: 0.5;
   width: 100%;
   max-width: 540px;
   margin-right: 250px;
   order: 1;
}

.footer__socials {
   display: flex;
   gap: 1.6rem;
   align-items: flex-end;
   order: 2;
}

.footer__right {
   opacity: 0.5;
   color: var(--white-color);
   order: 2;
   text-align: center;
}


.footer__social:hover svg path {
   fill: var(--main-color)
}

@media only screen and (max-width: 992px) {
   .footer__description {
      margin-right: 85px;
   }
}

@media only screen and (max-width: 768px) {
   .footer__description {
      max-width: 100%;
      margin: 0;
   }

   .footer__middle {
      row-gap: 8rem;
   }

   .footer__top {
      flex-wrap: wrap;
      row-gap: 3.2rem;
      margin-bottom: 3.2rem;
   }

   .footer__logo {
      margin-right: 100px;
   }

   .footer__socials {
      order: 3;
   }

   .footer__items {
      flex-wrap: wrap;
   }
}

@media only screen and (max-width: 520px) {
   .footer__items {
      max-width: 150px;
      width: 100%;
      justify-content: center;
   }

   .footer__top {
      flex-direction: column;
      align-items: center;

   }

   .footer__logo {
      margin: 0;
   }

   .footer__container::before {
      left: 50%;
      transform: translateX(-50%);

   }
}

@media only screen and (max-width: 375px) {
   .footer__description {
      text-align: center;
   }

   .footer__middle {
      flex-direction: column;
      row-gap: 4.8rem;
      align-items: center;
   }
}